@{
    ViewData["Title"] = "Home Page";
}
<html>


<body>
    <div class="text-center">
        <h1 class="display-4">ברוכים הבאים לחנות המשחקים הגדולה בישראל</h1>
    </div>
    <div id="body">
        <div class="categoriesContainer">

        </div>
    </div>

</body>
</html>


<style>
    .categoriesContainer {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        justify-content: space-between;
        padding: 25px;
    }

        .categoriesContainer .card {
            flex: 0 0 30%
        }

    .card {
        transition: all 0.5s;
        flex: 1;
        margin-bottom: 20px;
    }

        .card:hover {
            box-shadow: 5px 5px 15px 5px #000000
        }
</style>